<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5252fd722f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
   <section>

    <nav>
        <a href=" " class="logo"><i class="fab fa-accusoft"></i>MiniUrl</a>

        <ul>
            <li>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/dheeraj-dommaraju-8526b8165/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/dhiru06/"><i class="fab fa-instagram"></i>"</a>
                <a href="https://www.facebook.com/profile.php?id=100010344602940 "><i class="fab fa-facebook"></i>"</a>
            </li>
        </ul>
    </nav>


    <div class="text-container">
        <p>Mini url, maximum results</p>
        <p>A url shortner built to ease your life around lengthy url's <br> and maximize your productivity</p>
        <button class="Getstarted">Get started</button>
    </div>

    <img src="croods.png" class="model" alt="model"/>
   </section>

   
   <div class="container"> 
       <div class="table">
       <form action="/shortUrls" method="POST" class="my-4 form-inline" >
           <label for="fullurl" class="sr-only" >Url</label>
           <input type="url"   placeholder=" shorten your Url" size="100" name="fullurl" id="fullurl" class="form-control">
           <button  class="short" type="submit">Shorten</button>

       </form>

       <table class="table table-striped table-responsive">
           <thead>
               <tr>
                   <th>Full Url</th>
                   <th>Short Url</th>
                   <th>Clicks</th>
               </tr>
           </thead>
           <tbody>
             <% shortUrls.forEach(shortUrl => { %>  
                <tr>
                    <td><a href="<%= shortUrl.full %> "><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                    <td><%= shortUrl.clicks %> </td>
                </tr>
             <%  }) %>  

               
           </tbody>
       </table>
    </div>
    </div>


    <section >
        <div class="bottom-container">
            <ol>
                <li>
                    <p>
                        MiniUrl is the perfect free URL shortener for transforming long, ugly links into nice,
                        <br> memorable and trackable short URL.Use it to shorten links for any social media 
                        <br>platforms, blogs, SMS, emails, ads, or pretty much anywhere else you want to share 
                        <br>them. Twitter, Facebook, YouTube, LinkedIn, Instagram, WhatsApp, emails, blogs, SMS
                        <br>, videos, advertisement.
                    </p>
                

                </li> 
                <li>     
                <p>
                    Take credit for your content and learn more about how it’s consumed by enabling 
                    <br>auto-branding—a feature that ensures your brand remains in any link someone shortens
                    <br> pointing to your website.
                </p>
                </li>

            <li>        
            <p>
                On top of better deliverability and click-through, rich link-level data gives you crucial insight
                <br> into your link engagement so your team can make smarter decisions around its content
                <br> and communications
                
            </p>
            </li>

            <li>        
                <p>
                    With more clicks comes increased brand recognition and consumer trust in
                    <br> your communications—which in turn inspires even more engagement with your links.
                    <br> (It’s a wonderful cycle.)
                    
                </p>
                </li>
            </ol>

        </div>

        <img src="second.png" class="models" alt="model"/>

       
    </section>

   
</body>
</html>